<!DOCTYPE html>
<html>
<head>
	<title>OOps results could not be found</title>
	<link rel="stylesheet" type="text/css" href="/assets/500error.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<BODY>
	<i class="fas fa-cloud" style="font-size:24px;color:lightblue"></i>
	<i class="fas fa-cloud" style="font-size:36px;color:lightblue"></i>
	<i class="fas fa-cloud" style="font-size:48px;color:lightblue"></i>
	<i class="fas fa-cloud" style="font-size:60px;color:lightblue"></i>
	<img src="/assets/cloud.jpg" alt="cloud" width="80" height="70">

	<h1>OOps results could not be found</h1>
	<font size="5"><p> It seems that our server is currently protesting,<br> and it demands a higher pay rate!</p></font>


</BODY>
</html>