<!DOCTYPE html>
<html lang=en dir='ltr'>
    <head>
        <meta charset="utf-8">
        <title>Login Form</title>
        <link rel="stylesheet" href="assets/login.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    </head>
    <!---->
    <body>
        <div class ="quotes_content">
            <img src="assets/logo.gif" class="logo_avatar">
            <h2>BookElation</h2>
            <h1>Quote of the Day:</h1>
            <p> “Learn from yesterday, live for today, hope for tomorrow.”</p>
            <h4>—Albert Einstein</h4>
        </div>

        <div class="login_form">
            <img src="assets/user_account_avatar5.png" class="user_account_avatar">
            <h2><%=Error%></h2>
            <form method="POST">
                <input type="email" id="Email" placeholder="Email" name="Email"><br>
                <input type="password" id="Password" placeholder="Password" name="Password"><br>
                <input type="submit" id ="Button" value="Login">
                <a class="sign_up" href="signup">Sign Up</a>
            </form>
        </div>
    </body>
</html>
